In [7]:
import pandas as pd

col_names = ['학번', '이름', '전공', '수학', '영어', '컴퓨터']
list1 = [
    ['S001', '김민수', 'AI공학', 80, 75, 90],
    ['S002', '이수정', '경영학', 85, 88, 75],
    ['S003', '박지훈', 'AI공학', 92, 79, 95],
    ['S004', '최영희', '디자인', 70, 85, 80],
    ['S005', '홍길동', '경영학', 78, 82, 85],
    ['S006', '김하늘', 'AI공학', 88, 90, 92]
]

df = pd.DataFrame(list1, columns=col_names)
df['평균'] = df[['수학', '영어', '컴퓨터']].mean(axis=1)

print("1) 전공이 AI공학인 학생")
print(df[df['전공'] == 'AI공학'])

print(" ")
print("2) 평균 점수가 85 이상인 학생")
print(df[df['평균'] >= 85])

1) 전공이 AI공학인 학생
     학번   이름    전공  수학  영어  컴퓨터         평균
0  S001  김민수  AI공학  80  75   90  81.666667
2  S003  박지훈  AI공학  92  79   95  88.666667
5  S006  김하늘  AI공학  88  90   92  90.000000

2) 평균 점수가 85 이상인 학생
     학번   이름    전공  수학  영어  컴퓨터         평균
2  S003  박지훈  AI공학  92  79   95  88.666667
5  S006  김하늘  AI공학  88  90   92  90.000000

In [5]:
import pandas as pd

data = {
    '메뉴 ID': ['M1', 'M2', 'M3', 'M4', 'M5'],
    '메뉴명': ['아메리카노', '카페라떼', '녹차라떼', '딸기 스무디', '초코라떼'],
    '카테고리': ['커피', '커피', '차', '스무디', '차'],
    '가격': [3000, 3500, 4000, 4500, 3800],
    '판매량': [120, 90, 50, 70, 80]
}


df = pd.DataFrame(data)

print("전체 메뉴의 평균 가격")
print(df['가격'].mean())
print()

print("판매량이 80개 이상인 메뉴")
print(df[df['판매량'] >= 80])
print()

print("가장 비싼 메뉴")
print(df[df['가격'] == df['가격'].max()])
print()

print("가장 저렴한 메뉴")
print(df[df['가격'] == df['가격'].min()])
print()

print("'커피' 카테고리에 속하는 메뉴")
print(df[df['카테고리'] == '커피'])

전체 메뉴의 평균 가격
3760.0

판매량이 80개 이상인 메뉴
  메뉴 ID    메뉴명 카테고리    가격  판매량
0    M1  아메리카노   커피  3000  120
1    M2   카페라떼   커피  3500   90
4    M5   초코라떼    차  3800   80

가장 비싼 메뉴
  메뉴 ID     메뉴명 카테고리    가격  판매량
3    M4  딸기 스무디  스무디  4500   70

가장 저렴한 메뉴
  메뉴 ID    메뉴명 카테고리    가격  판매량
0    M1  아메리카노   커피  3000  120

'커피' 카테고리에 속하는 메뉴
  메뉴 ID    메뉴명 카테고리    가격  판매량
0    M1  아메리카노   커피  3000  120
1    M2   카페라떼   커피  3500   90